---
import Layout from "../../layouts/Layout.astro"
import Header from "../../layouts/Header.astro"
import Footer from "../../layouts/Footer.astro"

const name = "Ballink"
const email = "infoballink@gmail.com"
const formUrl = "https://tally.so/r/wLXXyJ"
---

<Layout title={`${name} — About Us`}>
  <Header name={name}
          earlyAccessLink={formUrl}
          contactEmail={email} />

  <div class="prose prose-lg mx-auto py-20">
    <img src="/images/jannes-glas-cuhQcfp3By4-unsplash.jpg"
         title={`About ${name}`}
         class="rounded-lg">

    <h2>About {name}</h2>

    <h5>We believe in the sports power.</h5>

    <p>Ballink is an innovative platform designed to bridge the gap between professional clubs and athletes of all
      genders to facilitate the recruitment process.</p>

    <h3>Our Mission</h3>
    <p>Our mission is to create a seamless and open environment where all the stakeholders can meet, and our core values
      are:</p>

    <ul>
      <li><strong>Transparency:</strong> We believe in clear communication</li>
      <li><strong>Innovation:</strong> We are constantly evolving to meet the needs of the users</li>
      <li><strong>Inclusivity:</strong> We aim to make football accessible to all, regardless of their division</li>
    </ul>

    <p>Our platform gives clubs and players the tools they need to interact securely, efficiently, and smoothly. Join us
      on our journey to redefine how the professional football industry connects and grows, and be part of a more
      inclusive and dynamic ecosystem.</p>
  </div>

  <Footer name={name}
          contactEmail={email} />
</Layout>
