---
interface Props {
  title: string;
  body: string;
  name: string;
}

const { title, body, name } = Astro.props;

const questions: { question: string; answer: string }[] = [
  {
    question: `How does ${name} can help my brand?`,
    answer:
      "Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins",
  },
  {
    question: `How does ${name} can help my brand?`,
    answer:
      "Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins",
  },
  {
    question: `How does ${name} can help my brand?`,
    answer:
      "Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins",
  },
  {
    question: `How does ${name} can help my brand?`,
    answer:
      "Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins",
  },
  {
    question: `How does ${name} can help my brand?`,
    answer:
      "Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins",
  },
];
---

<section class="gap-5 py-12 px-8">
  <div class="max-w-screen-lg mx-auto mb-10">
    <h2 class="text-3xl font-bold opacity-80 mb-3">{title}</h2>
    <p class="text-lg max-w-[42rem] mr-auto leading-relaxed opacity-60">
      {body}
    </p>
  </div>

  <div class="max-w-screen-lg mx-auto flex flex-col">
    {
      questions.map(({ question, answer }) => (
        <div class="flex flex-col border-b border-gray-200 py-5 last:border-b-0">
          <h3 class="text-lg font-bold opacity-80">{question}</h3>
          <p class="max-w-[42rem] mr-auto leading-relaxed opacity-60 max-h-0 overflow-hidden">
            {answer}
          </p>
        </div>
      ))
    }
  </div>
</section>
